.navbar .navbar-brand {
    font-family: Georgia, serif;
    font-weight: 800;
    color: #377BA8;
    font-size: 200%;
}

.message-item {
    margin-bottom: 1em;
    padding: 0.75em;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background: rgba(0,0,0,0.075);
}

.add-entry-panel {
    display: none;
}

.type_field,
.ts_field {
    white-space: nowrap;
}

.webcam-container img {
    width: 100%;
}

.userid-item i {
    margin-right: 0.5em;
}

.btn:active:focus,
.btn:focus {
    outline: none;
}

button.btn-default.hover, button.btn-default:hover {
    background-color: white;
    border-color: #666;
}

button.btn-default.focus, button.btn-default:focus {
    background-color: white;
    border-color: #888;
}
