{% extends "layout.html" %}
{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% endblock %}

{% block body %}

    <div class="webcam-row row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown camera-menu">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="camera-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="camera-menu-btn">
                            {% for camera in cameras.keys() %}
                            <li><a class="camera-item-link" href="#" data-camera="{{ camera }}">{{ cameras[camera]['name'] if 'name' in cameras[camera] else camera }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h3 class="panel-title">Camera</h3>
                </div>
                <div class="panel-body">
                    <div class="webcam-container">
                        <img class='placeholder' src="{{ url_for('static', filename='gdoor.jpg') }}">
                        <div class="img-area">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="controls-row row app-state">
        <div class="col-sm-12">
            <div class="state-display">
                Relays: <span class="relays-state">
                </span>
                Sensors: <span class="sensors-state">
                </span>
            </div>
        </div>
    </div>

    <style>
        .state-display {
            font-size: large;
            text-align: center;
        }
        .relays-state [data-value="on"]:after {
            content: "?";
            color: black;
        }

        .relays-state [data-value="on"]:after {
            content: "◉";
            color: green;
        }

        .relays-state [data-value="off"]:after {
            content: "◎";
            color: red;
        }

        .sensors-state [data-value]:after {
            content: "?";
            color: black;
        }

        .sensors-state [data-value="1"]:after {
            content: "◉";
            color: green;
        }

        .sensors-state [data-value="0"]:after {
            content: "◎";
            color: red;
        }

    </style>

    <div class="controls-row row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Controls</h3>
                </div>
                <div class="panel-body">
                    <button class="btn-gdoor btn btn-default">Garage<br>Door</button>
                    <button class="btn-light btn btn-default"><i class="fa fa-lightbulb-o fa-4x"></i></button>
                    <button class="btn-buzzer btn btn-default"><i class="fa fa-bullhorn fa-4x"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="code-row row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="code-closer">
                        <div class="code-closer-box">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <h3 class="panel-title">Enter Code</h3>
                </div>
                <div class="panel-body">
                    <div class="keep-together">
                        <button class="btn btn-default">0</button>
                        <button class="btn btn-default">1</button>
                        <button class="btn btn-default">2</button>
                        <button class="btn btn-default">3</button>
                        <button class="btn btn-default">4</button>
                    </div>
                    <div class="keep-together">
                        <button class="btn btn-default">5</button>
                        <button class="btn btn-default">6</button>
                        <button class="btn btn-default">7</button>
                        <button class="btn btn-default">8</button>
                        <button class="btn btn-default">9</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}
    <script>
        var ping_freq = 1;
        var ping_count = 0;
        var ping_last = 0;
        var ping_xhr = 0;
        var last_request = 0;
        function ping(){
            var request = $.now();
            if (request-last_request<900) {
                console.log("Skipping %s %s", last_request, request, request-last_request);
                return;
            }
            console.log("Requesting %s %s", last_request, request, request-last_request);
            last_request = $.now();
            if (!paused()) $.getJSON('/ping?ts='+moment().format('HH:mm:SSS'),function(data){
                var now = $.now();
                console.log("%s %o", now-request, data);
                ping_count++;
                if (ping_count>10) {
                    ping_freq = Math.min(6,ping_freq+1);
                }
                var relays = data.gpio.relays;
                for(var i = 1; i in relays; i++) {
                    var span = $('.relays-state [relay='+i+']');
                    if (span.length==0) {
                        span = $('<span>').attr('relay', i).appendTo('.relays-state');
                    }
                    span.attr('data-value', relays[i])
                }
                var sensors = data.gpio.sensors;
                for(var j = 1; j in sensors; j++) {
                    var span = $('.sensors-state [data-sensor='+j+']');
                    if (span.length==0) {
                        span = $('<span>').attr('data-sensor', j).attr('data-value', "").appendTo('.sensors-state');
                    }
                    span.attr('data-value', sensors[j]);
                }
            });
            ping_last = $.now();
        }
        var ping_timer = setInterval(ping, 2000);

        var camera;
        $('.camera-item-link').on('click', function(){
            var it = $(this);
            camera = it.data('camera');
            localStorage.camera = camera;
            $('.camera-menu button').text(it.text());
            it.closest('.open').find('button[data-toggle=dropdown]').dropdown('toggle');
            return false;
        });
        var camera_inited = false;
        if (localStorage && localStorage.camera) {
            $('.camera-item-link[data-camera]').each(function(){
                if ($(this).data('camera')===localStorage.camera) {
                    $(this).trigger('click');
                    camera_inited = true;
                }
            });
        }
        if (!camera_inited) {
            $('.camera-item-link:first').trigger('click');
        }

        function refresh_image(sel){
            var img = $(sel || this);
            var url = img.prop('src');
            var anchor = document.createElement('a');
            anchor.href = url;
            var params = parseUrlParams(anchor);
            params['ts'] = $.now();
            if (camera) {
                params['cam'] = camera;
            }
            anchor.search = formatUrlParams(params);
            if (!paused()) img.prop('src', anchor.href);
        }
        var recovery_timer
        $('.img-area img').on('load', function(){
            $('.placeholder').prop('src', $('.img-area img').prop('src'));
            setTimeout(refresh_image.bind($('.img-area img')), 1000);
            clearInterval(recovery_timer);
            recovery_timer = setInterval(function(){
                if (!paused()) $('.img-area img').prop('src','/camera?ts='+ $.now());
            }, 10000);
        }).prop('src','/camera');
        var buttons = $('.controls-row .panel-body button');
        var h = 0, w = 0;
        buttons.each(function(){
            h = Math.max(h, $(this).outerHeight());
            w = Math.max(w, $(this).outerWidth());
        }).each(function(){
            $(this).height(h).width(w);
        });
        function paused() {
            return $('#_pauser').is(':checked');
        }
    $('.code-row').hide();
    var code = '';
    var confirm = '{{ confirm_code }}';
    $('.btn-gdoor').on('click', function(){
        var h = $('.controls-row .panel-body').height();
        $('.controls-row').hide();
        $('.code-row').show().find('.panel-body').css('min-height', h);

    });
    $('.code-row .panel-heading .code-closer').on('click', reset_code);
    function reset_code(){
        $('.code-row').hide().find('.panel-body').css('min-height', '');
        $('.controls-row').show();
    }
    $('.code-row .panel-title').data('title', $('.code-row .panel-title').text());
    $('.code-row .panel-body button').on('click', function(){
        var char = $(this).text();
        code += char;
        $('.code-row .panel-title').text(code);
        if (code.length>=confirm.length) {
            if (code==confirm) {
                $.getJSON("/action/gdoor", reset_code);
            } else {
                reset_code();
            }
            $('.code-row .panel-title').text($('.code-row .panel-title').data('title'));
            code ='';
        }
    });
    $('.btn-light').on('click', function(){
        $.getJSON("/action/light");
    });
    $('.btn-buzzer').on('click', function(){
        $.getJSON("/action/buzzer");
    });
    </script>
{% endblock %}
