{% extends "layout.html" %}
{% block body %}

    <div class="webcam-row row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Camera</h3>
                </div>
                <div class="panel-body">
                    <div class="webcam-container">
                        <img src="{{ url_for('static', filename='gdoor.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
